/**
 * Variables
 * =================================
 * - Main Background / Foreground
 * - Brand Palette
 *
 *
 */


// Background and Foreground colors.
// All fonts and headers (unless overwritten) will be effected.

  $primary: #2c2c2c;
  $background: #629aa5;
  $yellow: #e5f500;
  $gray: #486176;
  $white: #ffffff;



// Brand palette colors.
// Use the color type as opposed to "secondary" or "tertiary" or something.

  // $cyan: #E0FFFF;
